<h1>{{ title() }}</h1>
<div class="commandBloc">
    <mat-form-field>
        <mat-label>Select Grid</mat-label>
        <mat-select (selectionChange)="onGridSelectionChange($event.value)">
            @for (grid of grids; track grid) {
            <mat-option [value]="grid">{{$index}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button matButton="filled" (click)="clearCells()">Clear</button>
</div>
<!-- Soduku Grid(s) -->
<!-- <div class="sudoGridContainer">
    @for (cell of selectedGrid.cells; track cell) {
        <app-sudoku-uicell [cell]="cell">
        </app-sudoku-uicell>
    }
    @empty {
        {{"Select a grid"}}
    }
</div> -->

<div class="sudoGridContainer">
    @for (cell of cells$ | async; track cell) {
    <app-sudoku-uicell [cell]="cell">
    </app-sudoku-uicell>
    }
    @empty {
    {{"Select a grid"}}
    }
</div>

<!-- <div class="sudoGridContainer">
    @for (cell of (selectedGrid$ | async)?.cells; track cell) {
        <app-sudoku-uicell [cell]="cell">
        </app-sudoku-uicell>
    }
    @empty {
        {{"Select a grid"}}
    }
</div> -->
<!-- <router-outlet /> -->