<h1>{{ title() }}</h1>

<mat-form-field>
    <mat-label>Select Grid</mat-label>
    <mat-select (selectionChange)="onGridSelectionChange($event.value)">
        @for (grid of grids; track grid) {
        <mat-option [value]="grid">{{$index}}</mat-option>
        }
    </mat-select>
</mat-form-field>

<div class="sudoGridContainer">
    @for (cell of selectedGrid.cells; track cell) {
        <div>
            {{cell.value}}
        </div>
    }
    @empty {
        {{"Select a grid"}}
    }
</div>
<!-- <router-outlet /> -->